<div class="contact-body">
    <app-fancy-component [fancyName]="'Bảo Hành'"></app-fancy-component>
    <div class="content-body" *ngIf="deviceInfo.deviceType == 'desktop'">
        <div class="text-body">
            <span><b>Các sản phẩm điện tử là mặt hàng được ưu tiên và quan tâm
                    hàng
                    đầu về vấn đề bảo hành, hậu mãi sau khi mua hàng. Để đáp ứng
                    nhu
                    cầu và độ tin cậy của khách hàng đối với sản phẩm được bán
                    ra
                    tại ShopCongNgheOnline, tất cả các sản phẩm bán ra tại Shop
                    sẽ đi kèm
                    sẵn bảo hành mặc định mà khách hàng không cần phải chi thêm
                    tiền. Chi tiết mời quý khách hàng tham khảo tại mục “Bảo
                    hành
                    mặc định” dưới đây.</b>
            </span>
            <br>
            <br>

            <!-- chinh sach A -->

            <h3>A. CHÍNH SÁCH BẢO HÀNH VỚI ĐIỆN THOẠI
            </h3>
            <ul style="list-style-type: decimal;margin-bottom: 0;font-size:
                15px;">
                <li><p><b>Bảo hành mặc định</b></p>
                    <span>- Tất cả các sản phẩm được bảo hành 1 đổi 1 trong vòng
                        30 ngày cả Nguồn và Màn hình và Faceid . Màn hình được
                        bảo hành trong trường hợp đơ, mất cảm ứng, sọc, hiển thị
                        (Không Đổi & Bảo hành trong trường hợp Chảy mực, Chết
                        đen)
                        <br>
                        a. 1 đổi 1 trong vòng 30 ngày với bất cứ lỗi gì kể cả
                        Nguồn và Màn hình hoặc không lên gì.
                        <br>
                        b. Bảo hành 3 tháng phần cứng (lỗi trên main) sửa chữa
                        miễn phí (không bao gồm các linh kiện ngoại vi như rung,
                        chuông, loa, mic, camera, pin,… nguồn và màn hình ).</span>
                </li>
                <br>
                <li><p><b>Điều kiện bảo hành</b></p>
                    <span>– Mang theo hóa đơn cùng với phiếu bảo hành.</span><br>
                    <span>– Không bảo hành với trường hợp máy có dấu hiệu ngấm
                        nước hoặc Quỳ tím bị đổi màu với bất kì lí do gì, kể cả
                        đối với các sản phẩm có tính năng Chống Nước.</span><br>
                    <span>- Tất cả các sản phẩm để được bảo hành cần phải còn
                        nguyên tem mác do ShopCongNgheOnline dán sẵn từ trước.
                        Mọi trường hợp tem mác có dấu hiệu rách hỏng hoặc dán
                        lại, chúng tôi có quyền từ chối bảo hành.
                    </span>
                </li>
                <br>
                <li><p><b>Chính sách lên đời</b></p>
                    <span>– Với những máy cũ (dù mua tại ShopCongNgheOnline hay
                        không)
                        hình thức còn đẹp, chưa thay thế linh kiện,
                        ShopCongNgheOnline
                        sẽ hỗ trợ thu cũ đổi mới giá cao cho quý khách hàng, đảm
                        bảo khách hàng lên đời máy mới với chi phí RẺ nhất.</span><br>
                    <span>– Để đảm bảo đưa ra mức giá lên đời chính xác nhất,
                        kính mời quý khách hàng liên hệ qua Zalo và SDT ở phần
                        Liên Hệ để kỹ thuật hỗ trợ..</span><br>
                </li>
            </ul>
            <br>
            <!-- chinh sach B -->
            <h3>B. CHÍNH SÁCH BẢO HÀNH VỚI BÀN PHÍM VÀ KIT
            </h3>
            <ul style="list-style-type: decimal;margin-bottom: 0;font-size:
                15px;">
                <li><p><b>Thời hạn bảo hành</b></p>
                    <span>- Với tất cả bàn phím và KIT mới đều được bảo hành 6
                        tháng đến 1 năm ( tùy loại sản phẩm, sẽ được ghi rõ
                        trong phần chi tiết sản phẩm).
                        <br>
                        - Với tất cả bàn phím và KIT cũ sẽ được bảo hành 3
                        tháng.
                        <br></span>
                </li>
                <br>
                <li><p><b>Điều kiện bảo hành</b></p>
                    <span>– Mang theo hóa đơn cùng với phiếu bảo hành.</span><br>
                    <span>- Tất cả sản phẩm để được bảo hành cần phải còn
                        nguyên tem mác do ShopCongNgheOnline dán từ trước.
                        Mọi trường hợp tem mác có dấu hiệu rách hỏng hoặc dán
                        lại, chúng tôi có quyền từ chối bảo hành.
                    </span>
                </li>
                <br>
            </ul>

            <!-- chinh sach C -->
            <h3>C. CHÍNH SÁCH BẢO HÀNH VỚI SẢN PHẨM KHÁC
            </h3>
            <ul style="list-style-type: decimal;margin-bottom: 0;font-size:
                15px;">
                <li><p><b>Thời hạn bảo hành</b></p>
                    <span>- Với tất cả sản phẩm khác sẽ được bảo hành theo chi
                        tiết của từng sản phẩm kèm điều kiện bảo hành.
                        <br>
                    </span>
                </li>
                <br>
            </ul>
            <!-- chinh sach D -->
            <h3>D. LIÊN HỆ
            </h3>
            <p></p>
            <ul style="list-style-type: none;margin-bottom: 0;font-size:
                15px;">

                <li class="item-img">
                    <div>
                        <a href="tel:0325609807" style="text-decoration: none;"><img
                                width="40px" class="img-contact"
                                src="assets/img/zalo.png"/>
                            <span><b>&emsp;0325609807</b></span></a>
                    </div>
                </li>
                <li class="item-img">
                    <div><img width="40px" class="img-contact"
                            src="assets/img/facebook.jpeg"/></div>

                </li>
                <li class="item-img">
                    <div><a href="mailto:thenguyenngochn@gmail.com"
                            target="_blank" style="text-decoration: none;"><img width="40px"
                                class="img-contact"
                                src="assets/img/email-logo.png"/><span><b>&emsp;Email: thenguyenngochn@gmail.com</b></span></a></div></li>
                <br>
            </ul>


        </div>
        <div class="sidebar">
            <div class="side-header">Chế độ bảo hành</div>
            <br>
            <span><b>A. CHÍNH SÁCH BẢO HÀNH VỚI ĐIỆN THOẠI</b></span>
            <ul style="list-style-type: disclosure-closed;margin-bottom: 0;">
                <li>Bảo hành mặc định</li>
                <li>Điều kiện bảo hành</li>
                <li>Chính sách lên đời</li>
            </ul>
            <br>
            <span><b>B. CHÍNH SÁCH BẢO HÀNH VỚI BÀN PHÍM VÀ KIT</b></span>
            <ul style="list-style-type: disclosure-closed;margin-bottom: 0;">
                <li>Thời hạn bảo hành</li>
                <li>Điều kiện bảo hành</li>
            </ul>
            <br>
            <span><b>C. CHÍNH SÁCH BẢO HÀNH VỚI SẢN PHẨM KHÁC</b></span>
            <ul style="list-style-type: disclosure-closed;margin-bottom: 0;">
            </ul>
            <br>
            <span><b>D. LIÊN HỆ</b></span>
            <ul style="list-style-type: disclosure-closed;margin-bottom: 0;">
                <li>Zalo</li>
                <li>Facebook</li>
                <li>Email</li>
            </ul>
        </div>
    </div>

    <div class="content-body" *ngIf="deviceInfo.deviceType == 'mobile'">

        <div class="sidebar">
            <div class="side-header">Chế độ bảo hành</div>
            <br>
            <span><b>A. CHÍNH SÁCH BẢO HÀNH VỚI ĐIỆN THOẠI</b></span>
            <ul style="list-style-type: disclosure-closed;margin-bottom: 0;">
                <li>Bảo hành mặc định</li>
                <li>Điều kiện bảo hành</li>
                <li>Chính sách lên đời</li>
            </ul>
            <br>
            <span><b>B. CHÍNH SÁCH BẢO HÀNH VỚI BÀN PHÍM VÀ KIT</b></span>
            <ul style="list-style-type: disclosure-closed;margin-bottom: 0;">
                <li>Thời hạn bảo hành</li>
                <li>Điều kiện bảo hành</li>
            </ul>
            <br>
            <span><b>C. CHÍNH SÁCH BẢO HÀNH VỚI SẢN PHẨM KHÁC</b></span>
            <ul style="list-style-type: disclosure-closed;margin-bottom: 0;">
            </ul>
            <br>
            <span><b>D. LIÊN HỆ</b></span>
            <ul style="list-style-type: disclosure-closed;margin-bottom: 0;">
                <li>Zalo</li>
                <li>Facebook</li>
                <li>Email</li>
            </ul>
        </div>
        
        <div class="text-body">
            <span><b>Các sản phẩm điện tử là mặt hàng được ưu tiên và quan tâm
                    hàng
                    đầu về vấn đề bảo hành, hậu mãi sau khi mua hàng. Để đáp ứng
                    nhu
                    cầu và độ tin cậy của khách hàng đối với sản phẩm được bán
                    ra
                    tại ShopCongNgheOnline, tất cả các sản phẩm bán ra tại Shop
                    sẽ đi kèm
                    sẵn bảo hành mặc định mà khách hàng không cần phải chi thêm
                    tiền. Chi tiết mời quý khách hàng tham khảo tại mục “Bảo
                    hành
                    mặc định” dưới đây.</b>
            </span>
            <br>
            <br>

            <!-- chinh sach A -->

            <h3>A. CHÍNH SÁCH BẢO HÀNH VỚI ĐIỆN THOẠI
            </h3>
            <ul style="list-style-type: decimal;margin-bottom: 0;font-size:
                15px;">
                <li><p><b>Bảo hành mặc định</b></p>
                    <span>- Tất cả các sản phẩm được bảo hành 1 đổi 1 trong vòng
                        30 ngày cả Nguồn và Màn hình và Faceid . Màn hình được
                        bảo hành trong trường hợp đơ, mất cảm ứng, sọc, hiển thị
                        (Không Đổi & Bảo hành trong trường hợp Chảy mực, Chết
                        đen)
                        <br>
                        a. 1 đổi 1 trong vòng 30 ngày với bất cứ lỗi gì kể cả
                        Nguồn và Màn hình hoặc không lên gì.
                        <br>
                        b. Bảo hành 3 tháng phần cứng (lỗi trên main) sửa chữa
                        miễn phí (không bao gồm các linh kiện ngoại vi như rung,
                        chuông, loa, mic, camera, pin,… nguồn và màn hình ).</span>
                </li>
                <br>
                <li><p><b>Điều kiện bảo hành</b></p>
                    <span>– Mang theo hóa đơn cùng với phiếu bảo hành.</span><br>
                    <span>– Không bảo hành với trường hợp máy có dấu hiệu ngấm
                        nước hoặc Quỳ tím bị đổi màu với bất kì lí do gì, kể cả
                        đối với các sản phẩm có tính năng Chống Nước.</span><br>
                    <span>- Tất cả các sản phẩm để được bảo hành cần phải còn
                        nguyên tem mác do ShopCongNgheOnline dán sẵn từ trước.
                        Mọi trường hợp tem mác có dấu hiệu rách hỏng hoặc dán
                        lại, chúng tôi có quyền từ chối bảo hành.
                    </span>
                </li>
                <br>
                <li><p><b>Chính sách lên đời</b></p>
                    <span>– Với những máy cũ (dù mua tại ShopCongNgheOnline hay
                        không)
                        hình thức còn đẹp, chưa thay thế linh kiện,
                        ShopCongNgheOnline
                        sẽ hỗ trợ thu cũ đổi mới giá cao cho quý khách hàng, đảm
                        bảo khách hàng lên đời máy mới với chi phí RẺ nhất.</span><br>
                    <span>– Để đảm bảo đưa ra mức giá lên đời chính xác nhất,
                        kính mời quý khách hàng liên hệ qua Zalo và SDT ở phần
                        Liên Hệ để kỹ thuật hỗ trợ..</span><br>
                </li>
            </ul>
            <br>
            <!-- chinh sach B -->
            <h3>B. CHÍNH SÁCH BẢO HÀNH VỚI BÀN PHÍM VÀ KIT
            </h3>
            <ul style="list-style-type: decimal;margin-bottom: 0;font-size:
                15px;">
                <li><p><b>Thời hạn bảo hành</b></p>
                    <span>- Với tất cả bàn phím và KIT mới đều được bảo hành 6
                        tháng đến 1 năm ( tùy loại sản phẩm, sẽ được ghi rõ
                        trong phần chi tiết sản phẩm).
                        <br>
                        - Với tất cả bàn phím và KIT cũ sẽ được bảo hành 3
                        tháng.
                        <br></span>
                </li>
                <br>
                <li><p><b>Điều kiện bảo hành</b></p>
                    <span>– Mang theo hóa đơn cùng với phiếu bảo hành.</span><br>
                    <span>- Tất cả sản phẩm để được bảo hành cần phải còn
                        nguyên tem mác do ShopCongNgheOnline dán từ trước.
                        Mọi trường hợp tem mác có dấu hiệu rách hỏng hoặc dán
                        lại, chúng tôi có quyền từ chối bảo hành.
                    </span>
                </li>
                <br>
            </ul>

            <!-- chinh sach C -->
            <h3>C. CHÍNH SÁCH BẢO HÀNH VỚI SẢN PHẨM KHÁC
            </h3>
            <ul style="list-style-type: decimal;margin-bottom: 0;font-size:
                15px;">
                <li><p><b>Thời hạn bảo hành</b></p>
                    <span>- Với tất cả sản phẩm khác sẽ được bảo hành theo chi
                        tiết của từng sản phẩm kèm điều kiện bảo hành.
                        <br>
                    </span>
                </li>
                <br>
            </ul>
            <!-- chinh sach D -->
            <h3>D. LIÊN HỆ
            </h3>
            <p></p>
            <ul style="list-style-type: none;margin-bottom: 0;font-size:
                15px;">

                <li class="item-img">
                    <div>
                        <a href="tel:0325609807" style="text-decoration: none;"><img
                                width="40px" class="img-contact"
                                src="assets/img/zalo.png"/>
                            <span><b>&emsp;0325609807</b></span></a>
                    </div>
                </li>
                <li class="item-img">
                    <div><img width="40px" class="img-contact"
                            src="assets/img/facebook.jpeg"/></div>

                </li>
                <li class="item-img">
                    <div><a href="mailto:thenguyenngochn@gmail.com"
                            target="_blank" style="text-decoration: none;"><img width="40px"
                                class="img-contact"
                                src="assets/img/email-logo.png"/><span><b>&emsp;Email: thenguyenngochn@gmail.com</b></span></a></div></li>
                <br>
            </ul>


        </div>
        
    </div>

</div>